<!DOCTYPE html>

<html lang="en">
	<head>
		<title>ICEMET - {{ title }}</title>
		<meta http-equiv="content-type" 
		      content="text/html; charset=UTF-8" />
		
		<link href="{{ url_for('static', filename='img/favicon.png') }}"
		      rel="shortcut icon">
		
		<link href="{{ url_for('static', filename='css/Roboto.css') }}"
		      rel="stylesheet">
		<link href="{{ url_for('static', filename='css/RobotoMono.css') }}"
		      rel="stylesheet">
		<link href="{{ url_for('static', filename='css/layout.css') }}"
		      rel="stylesheet">
		{% block links %}
		{% endblock %}
		
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/icemet.js') }}"></script>
		<script>
			const api = new API("{{ url_for('index_route') }}", "{{ database }}", "{{ table }}", handleError);
			$(window).on("load", () => {
				icemetInit();
			});
		</script>
		{% block scripts %}
		{% endblock %}
	</head>
	<body>
		 <div class="navbar">
			<a href="{{ url_for('index_route') }}">Home</a>
			
			<div class="dropdown">
				<button>Images <span class="arrow-down"></span></button>
				<div class="dropdown-content">
					{% for database, tables in particles_databases.items() %}
						<div class="dropdown-submenu">
							<button>{{ database }} <span class="arrow-right"></span></button> 
							<div class="dropdown-submenu-content">
								{% for table in tables %}
									<a href="{{ url_for('particles_images_route', database=database, table=table) }}">{{ database }} &bull; {{ table }}</a>
								{% endfor %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			
			<div class="dropdown">
				<button>Histograms <span class="arrow-down"></span></button>
				<div class="dropdown-content">
					{% for database, tables in particles_databases.items() %}
						<div class="dropdown-submenu">
							<button>{{ database }} <span class="arrow-right"></span></button>
							<div class="dropdown-submenu-content">
								{% for table in tables %}
									<a href="{{ url_for('particles_hist_route', database=database, table=table) }}">{{ database }} &bull; {{ table }}</a>
								{% endfor %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			
			<div class="dropdown">
				<button>Statistics <span class="arrow-down"></span></button>
				<div class="dropdown-content">
					{% for database, tables in stats_databases.items() %}
						<div class="dropdown-submenu">
							<button>{{ database }} <span class="arrow-right"></span></button>
							<div class="dropdown-submenu-content">
								{% for table in tables %}
									<a href="{{ url_for('stats_route', database=database, table=table) }}">{{ database }} &bull; {{ table }}</a>
								{% endfor %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			
			<div class="dropdown">
				<button>Icing <span class="arrow-down"></span></button>
				<div class="dropdown-content">
					{% for database, tables in stats_databases.items() %}
						<div class="dropdown-submenu">
							<button>{{ database }} <span class="arrow-right"></span></button>
							<div class="dropdown-submenu-content">
								{% for table in tables %}
									<a href="{{ url_for('icing_route', database=database, table=table) }}">{{ database }} &bull; {{ table }}</a>
								{% endfor %}
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			
			<a href="{{ url_for('database_route') }}" target="_blank">Database</a>
			<a href="{{ url_for('status_route') }}">Status</a>
			<a href="{{ url_for('help_route') }}">Help</a>
			<a href="{{ url_for('logout_route') }}">Logout</a>
		</div>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
