{% extends "layout.htm" %}

{% set title = "ICEMET Particles" %}

{% block links %}
<link href="{{ url_for('static', filename='css/particles.css') }}"
      rel="stylesheet"
      type="text/css" />
{% endblock %}
{% block scripts %}
<script>
$(window).on("load", function() {
	$("#select-filt").change(function() {
		$("#input-filt").val($("#select-filt").val());
	});
});
</script>
{% endblock %}

{% block content %}
<p>
<select id="select-filt">
{% for k, v in config['ICEMET_FILTERS'].items() %}
	<option value="{{ v }}">{{ k }}</option>
{% endfor %}
</select>
<input id="input-filt" class="filt" type="text" value="{{ config['ICEMET_FILTERS'].get('default', '') }}" style="width:80%"><br>
Fields: <code>ID</code>, <code>DateTime</code>, <code>Sensor</code>, <code>Frame</code>, <code>Particle</code>, <code>X</code>, <code>Y</code>, <code>Z</code>, <code>EquivDiam</code>, <code>EquivDiamCorr</code>, <code>Circularity</code>, <code>DynRange</code>, <code>EffPxSz</code>, <code>SubX</code>, <code>SubY</code>, <code>SubW</code>, <code>SubH</code></p>
{% block particles_content %}
{% endblock %}
{% endblock %}
