{% extends "layout.htm" %}

{% set title = "Status" %}

{% block content %}
<h1>Status</h1>
{% if statuses %}
<table style="width:50%">
<tr><th style="width: 15%">Status</th><th style="width: 60%">Sensor</th><th style="width: 25%">Last message (min)</th></tr>
{% for status in statuses %}
	<tr><td>{% if status.status() %}<span style="color:green">ONLINE{% else %}<span style="color:red">OFFLINE{% endif %}</span></td><td>{{ "{}-{:02X} {}".format(status.type, status.id, status.location) }}</td><td>{{ status.delta()//60 }}</td></tr>
{% endfor %}
{% else %}
<p>No status messages.</p>
{% endif %}
</table>
{% endblock %}
