{% extends "layout.htm" %}

{% set title = "Statistics" %}

{% block links %}
<link href="{{ url_for('static', filename='css/daterangepicker.css') }}"
      rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/chartjs-adapter-moment.js') }}"></script>
<script src="{{ url_for('static', filename='js/daterangepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/datetimepicker.js') }}"></script>
<script src="{{ url_for('static', filename='js/stats.js') }}"></script>
<script>
	$(window).on("load", () => {
		const picker = new DateTimePicker();
		const charts = new StatsCharts(api, picker);
	});
</script>
{% endblock %}

{% block content %}
{% include 'loading.htm' %}
<p>DateTime: <input id="input-datetime" type="text" style="width:20%"></input></p>
<div id="div-stats">
	<p><a id="a-csv" href="javascript:void(0)">CSV</a></p>
	<canvas id="canvas-LWCMVD"></canvas>
	<canvas id="canvas-TempWind"></canvas>
	<canvas id="canvas-Icing"></canvas>
</div>
{% endblock %}
