#table-events, th, td {
	border: 0;
}

#table-events {
	width: 100%;
	border-collapse: collapse;
	font-family: inherit;
}

#table-events tr:nth-child(even) {
	background-color: #f0f0f0;
}

#table-events th {
	text-align: center;
}

#table-events td {
	text-align: center;
}
